/* auto changes color theme to match browser/system; WITHOUT JS TOO */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1e1e1e;
    --text: #fbfbfb;
    --link: rgb(105, 105, 219);
    --linkhover: rgb(0, 0, 219);
    --codetext: #cd0033;
    --accent: #3daff3;
    --textbg: #353e42;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #f7faff;
    --text: #1e1e1e;
    --link: rgb(105, 105, 219);
    --linkhover: rgb(0, 0, 219);
    --codetext: #ff0040;
    --accent: #2175a8;
    --textbg: #e3f4ff;
  }
}

body {
  background: var(--bg);
  border-top: 8px solid var(--accent);
  color: var(--text);
  margin: auto auto;
  max-width: 800px;
  line-height: 28.8px;
  font-size: 18px;
  padding: 0 10px;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--linkhover);
}

ul {
  list-style-type: disc;
  font-size: 15px;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0.7em;
  line-height: 5px;
}

h1, h2, h3 {
  line-height: 1.2
}
hr {
  color: rgb(255, 255, 255)
}

ul.links {
  list-style-type: none;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

#nojs {
  top: 0px;
  width: 40%;
  position: fixed;
  background-color: var(--codetext);
  color: var(--text);
  border-bottom: transparent 5px var(--bg);
  text-align: center;
}

.links li {
  margin-top: 0px;
  margin-bottom: 0px;
}

footer p {
  clear: both;
  font-size: 16px;
  color: rgb(116, 116, 116);
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align:center;
}

.code {
  font-size:xx-small;
  overflow-wrap:break-word;
}

#display {
  display: block;
}

nav {
  overflow: hidden;
  background-color: var(--bg);
}
nav .links {
  float: left;
  font-size: 14px;
  color: var(--text);
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}
.subnav {
  float: left;
  overflow: hidden;
}
.subnav .sub-btn {
  cursor: default;
  font-size: 14px;
  border: none;
  outline: none;
  color: var(--text);
  padding: 14px 15px;
  background-color: var(--bg);
  margin: 0;
}
nav .links:hover,
.subnav:hover .sub-btn {
  cursor: pointer;
  background-color: var(--bg);
  color: var(--text);
  font-weight: bolder;
}
.sub-content {
  display: none;
  position: sticky;
  left: 0;
  background-color: var(--bg);
  width: 100%;
  z-index: 1;
}
.sub-content a {
  float: none;
  color: var(--text);
  text-decoration: none;
}
.sub-content a:hover {
  background-color: var(--bg);
  color: var(--text);
}
.subnav:hover .sub-content {
  display: block;
}

.project-preview {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.preview-image {
  width: 35em;
  height: 35em;
  transition: transform 0.3s ease;
  object-fit: scale-down;
  border-style: solid;
  border-width: 1px;
  width: 200px; /* set desired width */
  height: 200px; /* set desired height */
  overflow: hidden; /* clip the image */
}

.preview-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* resize image to cover container */
}

.preview-image:hover {
  transform: scale(3.5);
}
.project-info {
  flex: 2;
  padding: 20px 0 20px 20px;
}

.project-info h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 10 10 10px;
}

.project-info p {
  font-size: 16px;
  margin: 10 10 20px;
}

.btn {
  display: inline-block;
  padding: 1px 5px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  display: block;
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0062cc;
}